$accentColor = #000000
$textColor = #000000
$borderColor = #eaecef
$yellow = #fff202
$dark-yellow = #dcd004
$red = #ed1d25
$blue = #07acef

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700;900&display=swap');

*
    font-family: 'Vollkorn', 'Times New Roman', serif

.red
    color: $red

.yellow
    color: $dark-yellow

.blue
    color: $blue

a, p
    transition: background 0.5s

.highlight
    background: $yellow

header
    @media(max-width: 1040px)
        .site-name
            visibility: hidden

    .nav-links
        overflow-y: scroll

    .nav-item a:hover, .router-link-active:not(.home-link)
        border-bottom: 1px solid $accentColor !important

.home .hero .description
    color: $accentColor
    max-width: 750px
    text-align: left

.page > div
    max-width: 500px !important

    img
        max-width: 300px !important

    .prev-next
        display: flex
        min-height: 20px

        > a, > span
            display: block
            flex-basis: 50%
            text-decoration: underline
        
        >:last-of-type
            text-align: right

    .footnote
        font-size: 0.9em

        p:hover
            cursor: pointer

            sup
                text-decoration: underline

.home .page, .about .page
    > div
        max-width: 900px !important

.home .page
    > div
        margin-top: 0
        padding-bottom: 0

.about .page
    .about-flex
        display: flex
        align-items: center
        flex-flow: column

        @media(min-width: 768px)
            flex-flow: row

            > div 
                margin-left: 2em

.contact .page
    margin-top: -0.5em

    form 
        > *
            display: inline-block
            margin: 1em 0 0 0
            width: 100%
            padding: 0.5em
            appearance: none
            border: 1px solid $accentColor
            border-radius: 3px
        
        input:not(.button), textarea
            width: calc(100% - 15px)

        .button
            background: $accentColor
            color: white
            cursor: pointer
            margin-top: 5px

            &:hover
                text-decoration: underline

.introduction .page p
    margin-bottom: 1em

    &:last-of-type
        margin-bottom: 0
    
    img
        display: block
        margin: 0 auto

.page 
    font-size: 1.1em

    img
        margin-bottom: 1em

        &.end-image
            max-width: 100px !important
            margin-bottom: 1em

    p
        margin: 0