<template>
    <div>
        <p>To purchase <i>Triple Crown</i>, <a class="amazon-link" href="https://www.amazon.com/Triple-Crown-annotated-author-Chevlen/dp/0983055920" target="_blank">Click Here</a></p>
    </div>
</template>

<style>
.amazon-link {
    text-decoration: underline;
}
</style>